#####################################################################
#   Filament Sensor
#####################################################################

#[filament_switch_sensor RUNOUT] 
#switch_pin: ^PG12 
#pause_on_runout: True
#runout_gcode: 
#    PAUSE # [pause_resume] is required in printer.cfg 
#    M117 Filament switch runout 
#insert_gcode: 
#    M117 Filament switch inserted 

#[filament_motion_sensor MOTION] 
#switch_pin: ^PG13 
#detection_length: 3.5 # accuracy of motion sensor 2.88mm 
#extruder: extruder 
#pause_on_runout: True 
#runout_gcode: 
#    PAUSE # [pause_resume] is required in printer.cfg 
#    M117 Filament encoder runout 
#insert_gcode: 
#    M117 Filament encoder inserted
    
#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: nhk:gpio6
#tachometer_pin: nhk:gpio17
#tachometer_ppr: 2
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: nhk:gpio5
#tachometer_pin: nhk:gpio16
#tachometer_ppr: 2
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[fan_generic electronics]
pin: PD12

[delayed_gcode start_fan_at_idle_speed]
initial_duration: 1.
gcode:
  SET_FAN_SPEED FAN=electronics SPEED=0.25

[fan_generic exhaust_fan]
##  Exhaust fan - FAN3
pin: PD13
#tachometer_pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

[fan_generic nevermore]
##  Exhaust fan - FAN3
pin: PD14
#tachometer_pin: PF8
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################


[output_pin caselight]
pin: PD15
pwm:true
hardware_pwm: False
value: 0.6 #startup value
shutdown_value: 0
value:1
cycle_time: 0.00025

## Connected to led (nitehawk sb)
[output_pin pcb_led]
pin: !nhk:gpio8

## Connected to NEOPIXEL (nitehawk sb)
[neopixel headlight]
pin: nhk:gpio7
chain_count: 3
color_order: RGBW
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0
initial_WHITE: 1.0

#####################################################################
# 	Thermister's
#####################################################################

[temperature_sensor chamber_temp]
## Chamber Temperature - T1
sensor_type: Generic 3950
sensor_pin: nhk:gpio28
min_temp: 0
max_temp: 100
gcode_id: chamber_th

[temperature_sensor Raspberry_Pi5]
sensor_type: temperature_host
max_temp: 90


[temperature_sensor Octopus]
sensor_type: temperature_mcu

[thermistor CMFB103F3950FANT]
temperature1: 0.0
resistance1: 32116.0
temperature2: 40.0
resistance2: 5309.0
temperature3: 80.0
resistance3: 1228.0

[temperature_sensor nitehawk_pcb]
## Nitehawk PCB Sensor
sensor_type: CMFB103F3950FANT
sensor_pin: nhk:gpio26
pullup_resistor: 2200
min_temp: 0
max_temp: 100
gcode_id: nh_th
